<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
          xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0'>

    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <key>bintray-rocketchat-RocketChat-SDK</key>
                    <name>bintray</name>
                    <url>https://dl.bintray.com/rocketchat/RocketChat-SDK</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <key>bintray-rocketchat-RocketChat-SDK</key>
                    <name>bintray-plugins</name>
                    <url>https://dl.bintray.com/rocketchat/RocketChat-SDK</url>
                </pluginRepository>
            </pluginRepositories>
            <key>bintray</key>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
</settings>